


.passwords-list {
  background-color: rgb(10, 10, 10);
  color: aliceblue;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: solid aliceblue 1px;
}


.list-element {
  background-color: rgb(10, 10, 10);
  color: aliceblue;
  border: solid aliceblue 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
